<h3>Listado de facturas</h3>
<a class="btn btn-primary float-md-right" routerLink="/addfactura">Añadir nueva factura</a>
<table class="table table-bordered table-striped" style="margin-top: 40px;">
  <thead>
    <tr class="filters">
      <th>Proveedor</th>
      <th>Fecha</th>
      <th>Concepto</th>
      <th>Importe sin IVA</th>
      <th>IVA</th>
      <th>Total</th>
      <th>Editar</th>
      <th>Borrar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let factura of facturas">
      <td>{{factura.proveedor}}</td>
      <td>{{factura.fecha}}</td>
      <td>{{factura.concepto}}</td>
      <td>{{factura.base}}</td>
      <td>{{factura.iva}}</td>
      <td>{{factura.total}}</td>
      <td>
        <button class="btn btn-success" routerLink="/editfactura/{{factura.id$}}">Editar</button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="eliminarFactura(factura.id$)">Borrar</button>
      </td>
    </tr>
  </tbody>
</table>
