<div class="row">
  <div class="col col-md"></div>
  <div class="col-10 col-md-8">
    <h2>Editar facturas</h2>
    <a href="/facturas" class="btn btn-primary float-md-right">Regresar al listado</a>
    <form [formGroup]="facturaForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="proveedor">Proveedor</label>
        <i class="fa fa-check-circle check" *ngIf="facturaForm.controls.proveedor.valid"></i>
        <i class="fa fa-exclamation-circle uncheck" *ngIf="facturaForm.controls.proveedor.invalid && facturaForm.controls.proveedor.touched"></i>
        <input type="text" id="proveedor" class="form-control" formControlName="proveedor" [(ngModel)]="factura.proveedor">
        <p class="alert alert-danger" *ngIf="facturaForm.controls.proveedor.invalid && facturaForm.controls.proveedor.touched">El campo proveedor es obligatorio.</p>
      </div>
      <div class="form-group">
        <label for="fecha">Fecha</label>
        <input type="date" id="fecha" class="form-control" formControlName="fecha" [(ngModel)]="factura.fecha">
      </div>
      <div class="form-group">
        <label for="concepto">Concepto</label>
        <input type="text" id="concepto" class="form-control" formControlName="concepto" [(ngModel)]="factura.concepto">
      </div>
      <div class="form-group">
        <label for="base">Base Imponible</label>
        <input type="number" id="base" class="form-control" formControlName="base" [(ngModel)]="factura.base">
      </div>
      <div class="form-group">
        <label for="tipo">Tipo de IVA</label>
        <select id="tipo" class="form-control" formControlName="tipo" [(ngModel)]="factura.tipo">
          <option value="">Seleccione...</option>
          <option value="0"> 0 % </option>
          <option value="0.04"> 4 % </option>
          <option value="0.10"> 10 % </option>
          <option value="0.21"> 21 % </option>
        </select>
      </div>
      <div class="form-group">
        <label for="iva">Importe IVA</label>
        <input type="number" id="iva" class="form-control" formControlName="iva" [(ngModel)]="facturaForm.value.iva" disabled>
      </div>
      <div class="form-group">
        <label for="total">Total presupuesto</label>
        <input type="number" id="total" class="form-control" formControlName="total" [(ngModel)]="facturaForm.value.total" disabled>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!facturaForm.valid">Guardar cambios</button>
      <a class="btn btn-danger" routerLink="/facturas">Cancelar</a>
      <p class="alert alert-danger" *ngIf="!facturaForm.valid">Por favor, complete todos los campos obligatorios.</p>
    </form>
  </div>
  <div class="col col-md"></div>
</div>